{% extends "superadmin/base.html" %}
{% block title %}用户模板网站链接管理{% endblock %}
{% block body %}
{%include 'superadmin/top.html'%}
<!-- 左侧内容 -->
{%include 'superadmin/left_users.html'%}


 <div class="layui-body ">
    <!-- 内容主体区域 -->
    <div style="padding: 10px;">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-success">
    {% for category, message in messages %}
    	<p>{{message}}</p>
  	{%endfor%}
    </div>
    {% endif %}
    {% endwith %}

    	<div class="layui-row">
    		<div class="layui-col-md12">
    			<table class="layui-table" lay-size="sm">
    				<colgroup>
    					<col width="20">
    					<col width="50">
    					<col width="50">
                        <col width="80">
                        <col width="80">
    					<col width="80">
    					<col width="50">
    				</colgroup>
    				<thead>
    					<tr>
    						<th>ID</th>
    						<th>用户</th>
    						<th>模板</th>
                            <th>网址</th>
                            <th>创建时间</th>
    						<th>到期时间</th>
    						<th>操作</th>
    					</tr>
    				</thead>
    				<tbody>
    					{%for i in all_users_url_templates%}
    					<tr>
    						<td>{{i.id}}</td>
    						<td>{{i.users.username}}</td>
                            <td>{{i.usertemplate.name}}</td>
                            <td>{{i.user_url}}</td>
                            <td>{{i.created_at}}</td>
    						<td>{{i.end_time_at}}</td>
    						
    						<td><button class="layui-btn layui-btn-sm" onclick="javascript:location.href='{{url_for('superadmin.edit_user_url_templates',id=i.id)}}'"><i class="layui-icon"></i></button></td>
    					</tr>
    					{%endfor%}
    				</tbody>
    			</table>

    			
    		</div>

    		<div class="layui-col-md12">
		        <div class="layui-btn-group">
			        <button class="layui-btn" onclick="javascript:location.href='{{url_for('superadmin.add_user_url_templates')}}'">添加</button>
				    <button class="layui-btn"><i class="layui-icon"></i></button>
				    <button class="layui-btn"><i class="layui-icon"></i></button>
	  			</div>
		    	
		    </div>

    		 
    		

    	</div> <!-- endlayui-row -->





    </div>
  </div>
  
  {%include 'superadmin/footer.html'%}

{% endblock %}