
{% extends "users/base.html" %}

{% block cheditor %}
{{ckeditor.load()}}
{%endblock%}

{% block title %}所有图集{% endblock %}

{% block body %}

{%include 'users/nav.html'%}
<div class="container table-responsive">
<div class="row">
	<div class="col-xs-7">
		<table class="table table-hover">
			<caption>所有图集</caption>
			<thead>
				<tr>
					<th>缩略图</th>
					<th>图集标题</th>
					<th>图集描述</th>
					<th>是否显示</th>
					<th>浏览次数</th>
					<th>属性</th>
					<th>所属栏目</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			{%for i in photos()%}
				<tr>
					<td><img src="{{url_for('public.get_thumbnail',filename=i.image)}}" alt=""></td>
					<td><a href="{{url_for('user.add_photo_image',id=i.id)}}">{{i.title}}</a></td>
					<td>{{i.summary}}</td>
					<td>{% if i.is_enable%}
					 <span class="glyphicon glyphicon-ok">是</span>
					 {%else%} <span class="glyphicon glyphicon-remove">否</span>{%endif%}</td>
					<td>{{i.count}}</td>
					<td>{{i.content_attrs.name}}</td>
					<td>{{i.categorys.title}}</td>
					<td><a href="{{url_for('user.delete_photo',id=i.id)}}">删除</a></td>
				</tr>
			{%endfor%}
			</tbody>
		</table>
	</div>
	<div class="col-xs-5">
	<form action="{{url_for('user.add_photo_post')}}" method="post" enctype="multipart/form-data" >
	{{form.hidden_tag()}}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">图集添加</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					{{form.title.label}}
					{{form.title(placeholder="请输入图集标题(2-20字)", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.summary.label}}
					{{form.summary(placeholder="请输入图集描述", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.key.label}}
					{{form.key(placeholder="请输入关键字", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.word.label}}
					{{form.word(placeholder="搜索描述", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.is_enable.label}}
					{{form.is_enable(checked='checked')}}
				</div>

				<div class="form-group">
					<label for="word">拍摄时间</label>
					<input class="form-control" id="photos_date" name="photos_date" placeholder="拍摄时间，例：2017-12-12" type="text" value="">					
				</div>

				<div class="form-group">
					{{form.count.label}}
					{{form.count(placeholder="", class_="form-control")}}
				</div>


				<div class="form-group">
					{{form.attach_key.label}}
					{{form.attach_key(placeholder="", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.attach_value.label}}
					{{form.attach_value(placeholder="", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.static_context.label}}
					{{form.static_context(placeholder="留空默认则读取“文章展示”的静态内容",class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.attr.label}}
					{{form.attr(placeholder="", class_="form-control")}}
				</div>

				<div class="form-group">
					{{form.category.label}}
					{{form.category(placeholder="", class_="form-control")}}
				</div>

				<div class="form-group">
				<label for="image">缩略图</label>
				<input class="form-control" id="image" name="image" type="file">
				</div>

				<div class="form-group">
					{{form.image_alt.label}}
					{{form.image_alt(placeholder="", class_="form-control")}}
				</div>


	

				<div class="form-group">
					<input type="submit" value="保存添加" class="btn btn-primary btn-lg btn-block">
				</div>
			</div>
		</div>

	</form>
		
	</div>
</div>
</div>
{% endblock %}

