
{% extends "users/base.html" %}

{% block cheditor %}
{{ckeditor.load()}}
{%endblock%}

{% block title %}所有栏目属性{% endblock %}

{% block body %}


{%include 'users/nav.html'%}
<div class="container table-responsive">
<div class="row">
	<div class="col-xs-8">
		<table class="table table-hover">
			<caption>所有栏目属性表</caption>
			<thead>
				<tr>
					<th>栏目名称</th>
					<th>栏目代码</th>
					<th>栏目链接</th>
					<th>栏目模板</th>			
					<th>栏目模板名称</th>			
				</tr>
			</thead>
			<tbody>
			{%for i in category_attr%}
				<tr>
					<td>{{i.id}}、{{i.name}}</td>
					<td>{{i.mark}}</td>
					<td>{{i.url}}</td>
					<td>{{i.templates}}</td>
					<td>{{i.usertemplate.name}}</td>
				</tr>
			{%endfor%}
			</tbody>
		</table>
	</div>
	
</div>
</div>
{% endblock %}

